body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    transition: all 0.3s ease;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid white;
    padding: 20px;
    width: 500px;
    height: 100px;
    box-shadow: 5px 5px 5px black;
}

.track{
    background-image: url(assets/img/track.gif);
    width: 500px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

#white, #red{
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    cursor: pointer;
    transition: all 0.3s ease;
}

#white{  
    width: 50px;
    height: 50px;
    left: 205px;
    top: 60px;
    background-image: url(assets/img/white_lotus.png);
    z-index: 2;
}

#red{
    width: 50px;
    height: 50px;
    right: 205px;
    top: 60px;
    background-image: url(assets/img/red_jaguar.png);
    z-index: 3;
}

.text{
    text-align: center;
}

#result{
    font-size: 30px;
    display: inline-block;
}

audio{
    position: absolute;
    top: 200px;
    left: 120px;
    z-index: 4;
    visibility: collapse;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
 
.btn_circle_1, 
.btn_circle_2,
.btn{
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
}

.btn{
    height: 20px;
    width: 120px;
    text-align: center;
    display: none;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
}

.btn_circle_1{
    background-color: white;
    height: 20px;
    width: 20px;
    display: block;
}

.btn_circle_2{
    background-color: DarkRed;
    height: 20px;
    width: 20px;
    display: block;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(0,0,0,0.7);
}

button {
    background: #5b0085;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    color: white;
}

button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.btn-voltar {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

@media (max-width: 768px) {
    .btn-voltar {
        top: 90px;
        left: 10px;
    }
    
    button {
        font-size: 14px;
        padding: 0.5em 1em;
    }
}

@media (max-width: 480px) {
    .btn-voltar {
        top: 80px;
        left: 5px;
    }
    
    button {
        font-size: 12px;
        padding: 0.4em 0.8em;
    }
}