body {
    background: radial-gradient(circle, white 8%, black 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    cursor: pointer;
}

button {
    background: #5b0085;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    color: white;
}

button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.btn-voltar {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

@media (max-width: 768px) {
    .btn-voltar {
        top: 10px;
        left: 10px;
    }
    
    button {
        font-size: 14px;
        padding: 0.5em 1em;
    }
}

@media (max-width: 480px) {
    .btn-voltar {
        top: 5px;
        left: 5px;
    }
    
    button {
        font-size: 12px;
        padding: 0.4em 0.8em;
    }
}